@import "tailwindcss";

@keyframes ticker-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-ticker {
  animation: ticker-scroll 30s linear infinite;
}

.animate-ticker:hover {
  animation-play-state: paused;
}
